@font-face {
	font-family: 'CJS';
	font-style: normal;
	font-weight: 250;
	src: url("../assets/fonts/CJS/CJS-Thin.woff2") format("woff2"), url("../assets/fonts/CJS/CJS-Thin.woff") format("woff"), url("../assets/fonts/CJS/CJS-Thin.eot") format("eot"), url("../assets/fonts/CJS/CJS-Thin.ttf") format("truetype");
}

@font-face {
	font-family: 'CJS';
	font-style: normal;
	font-weight: 300;
	src: url("../assets/fonts/CJS/CJS-Light.woff2") format("woff2"), url("../assets/fonts/CJS/CJS-Light.woff") format("woff"), url("../assets/fonts/CJS/CJS-Light.eot") format("eot"), url("../assets/fonts/CJS/CJS-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'CJS';
	font-style: normal;
	font-weight: 400;
	src: url("../assets/fonts/CJS/CJS-Regular.woff2") format("woff2"), url("../assets/fonts/CJS/CJS-Regular.woff") format("woff"), url("../assets/fonts/CJS/CJS-Regular.eot") format("eot"), url("../assets/fonts/CJS/CJS-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'CJS';
	font-style: normal;
	font-weight: 500;
	src: url("../assets/fonts/CJS/CJS-Medium.woff2") format("woff2"), url("../assets/fonts/CJS/CJS-Medium.woff") format("woff"), url("../assets/fonts/CJS/CJS-Medium.eot") format("eot"), url("../assets/fonts/CJS/CJS-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'CJS';
	font-style: normal;
	font-weight: 700;
	src: url("../assets/fonts/CJS/CJS-Bold.woff2") format("woff2"), url("../assets/fonts/CJS/CJS-Bold.woff") format("woff"), url("../assets/fonts/CJS/CJS-Bold.eot") format("eot"), url("../assets/fonts/CJS/CJS-Bold.ttf") format("truetype");
}
